<nav class="navbar navbar-expand-lg navbar-white bg-white">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand p-0" href="/">
        <img class="logo" src="/assets/shopex2.jpg">
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active orange" %>
        </li>
        <li class="nav-item">
          <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link active", data: { turbo_method: :delete } %> </li>
          <% else %>
           <%= link_to "Sign In", new_user_session_path, class: "nav-link active" %> </li>
          <% end %>
        </li>
      </ul>
      <%= form_with(url: "/index", method: :get, class: "d-flex") do |form| %>
        <%= form.text_field(:product_name, id: :product_search_field, class: "form-control me-2", placeholder: "Search", "aria-label": "Search") %>
        <%= form.submit("Search", :class => "btn btn-outline-success") %>
      <% end %>
    </div>
  </div>
</nav>

